<% content_for :title, "FireTracker" %>

<style>
    #heatmapArea {
      position:relative;
      float:left;
      width:100%;
      height:650px;
      border:1px dashed black;
    }
</style>


<div class = "mapArea">
  <div id="heatmapArea">

    <aside class="sidebar">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li class="sub-menu active"><a name="trackerTitle" href="index.html"><i id="hmTog" class="fa fa-dashboard"></i>myOasis</a></li>
          <!--
          <li class="sub-menu"><a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>FireTracker</span><i class="arrow fa fa-angle-right pull-right"></i></a></li>
          <li class="sub-menu"><a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>InfectionTracker</span><i class="arrow fa fa-angle-right pull-right"></i></a> </li>
          -->

          <div class="panel-group" id="accordion">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a name="trackerTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onClick="togFire()">
                    FireTracker
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <li class="sub-menu">
                    <a id="tog1" onClick="togHeatmap()">Heatmap</a>
                  </li>
                  <li class="sub-menu">
                    <a id="tog2" onClick="togCalfire()">CalFire</a>
                  </li>
                  <li class="sub-menu">
                    <a id="tog3" onClick="togUserData()">User Data</a>
                  </li>
                </div>
              </div>
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a name="trackerTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onClick="togInfection()">
                    Outbreak Tracker
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <li class="sub-menu">
                    <a><div id="tog4">Ebola Instances</div></a>
                  </li>
                  <li class="sub-menu">
                    <a><div id="tog5">Marburg Instances</div></a>
                  </li>
                  <li class="sub-menu">
                    <a><div id="tog6">Layer #3</div></a>
                  </li>
                </div>
              </div>
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a name="trackerTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Yeti Tracker
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <li class="sub-menu">
                    <a><div id="tog7">Layer #1</div></a>
                  </li>
                  <li class="sub-menu">
                    <a><div id="tog8">Layer #2</div></a>
                  </li>
                  <li class="sub-menu">
                    <a><div id="tog9">Layer #3</div></a>
                  </li>
                </div>
              </div>
            </div>
          </ul>
        </div>
    </aside>
  </div><!-- /#heatMapArea -->
</div><!-- /#mapArea -->