<div id="main">
	<section id="container">
      <header id="header">
          <!--logo start-->
          <div class="brand">
              <a href="index.html" class="logo"><span>Fire</span>Tracker</a>
          </div>

		  <a onclick="window.open(this.href,'_blank');return false;" href="https://twitter.com/Fire_Tracker">
        <i class="fa fa-twitter socialIcon"></i>
      </a>

		  <a onclick="window.open(this.href,'_blank');return false;" href="https://facebook.com/Fire_Tracker">
        <i class="fa fa-facebook socialIcon"></i>
      </a>
          <!--logo end-->
              <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="" data-original-title="Toggle Navigation">
                      <i class="fa fa-bars"></i>
                  </button>
              </div>
              <div class="user-nav">
                  <ul>
                    <li class="dropdown messages">
                          <span class="badge badge-danager animated bounceIn" id="new-messages">5</span>
                          <button type="button" class="btn btn-default dropdown-toggle options" id="toggle-mail" data-toggle="dropdown">
                              <i class="fa fa-envelope"></i>
                          </button>
                          <ul class="dropdown-menu alert animated fadeInDown">
                              <li>
                                  <h1>You have <strong>5</strong> new messages</h1>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="profile-photo">
                                          <img src="/assets/fire.png" alt="" class="img-circle" width="85%" height="85%">
                                      </div>
                                      <div class="message-info">
                                          <span class="sender">Fire Tracker</span>
                                          <span class="time">30 mins</span>
                                          <div class="message-content">Lorem ipsum dolor sit amet, elit rutrum felis sed erat augue fusce...</div>
                                      </div>
                                  </a>
                              </li>

                              <li>
                                  <a href="#">
                                      <div class="profile-photo">
                                          <img src="/assets/fire.png" alt="" class="img-circle" width="85%" height="85%">
                                      </div>
                                      <div class="message-info">
                                          <span class="sender">Fire Tracker</span>
                                          <span class="time">2 hour</span>
                                          <div class="message-content">hendrerit pellentesque, iure tincidunt, faucibus vitae dolor aliquam...</div>
                                      </div>
                                  </a>
                              </li>

                              <li>
                                  <a href="#">
                                      <div class="profile-photo">
                                          <img src="/assets/bio.png" alt="" class="img-circle" width="85%" height="85%">
                                      </div>
                                      <div class="message-info">
                                          <span class="sender">Outbreak Tracker</span>
                                          <span class="time">3 hours</span>
                                          <div class="message-content">Penatibus suspendisse sit pellentesque eu accumsan condimentum nec...</div>
                                      </div>
                                  </a>
                              </li>

                              <li>
                                  <a href="#">
                                      <div class="profile-photo">
                                          <img src="/assets/avatar3.gif" alt="" class="img-circle" width="85%" height="85%">
                                      </div>
                                      <div class="message-info">
                                          <span class="sender">Something Tracker</span>
                                          <span class="time">7 hours</span>
                                          <div class="message-content">Sem dapibus in, orci bibendum faucibus tellus, justo arcu...</div>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <div class="profile-photo">
                                          <img src="/assets/bio.png" alt="" class="img-circle" width="85%" height="85%">
                                      </div>
                                      <div class="message-info">
                                          <span class="sender">Outbreak Tracker</span>
                                          <span class="time">6 hours</span>
                                          <div class="message-content">Curabitur metus faucibus sapien elit, ante molestie sapien...</div>
                                      </div>
                                  </a>
                              </li>
                              <li><a href="#">Check all messages <i class="fa fa-angle-right"></i></a>
                              </li>
                          </ul>

                      </li>
                      <li class="profile-photo">
                          <img alt="">
                      </li>
                    <li class="dropdown settings">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        ClayJacobs <i class="fa fa-angle-down"></i>
                      </a>
                          <ul class="dropdown-menu animated fadeInDown">
                              <li>
                                  <a href="#"><i class="fa fa-user"></i> Profile</a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-envelope"></i> Alerts <span class="badge badge-danager" id="user-inbox">5</span></a>
                              </li>
                              <li>
                                  <a href="#"><i class="fa fa-power-off"></i> Logout</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <div class="toggle-navigation toggle-right">
                            <button type="button" class="btn btn-default" id="toggle-right">
                                  <i class="fa fa-comment"></i>
                              </button>
                          </div>
                      </li>

                  </ul>
              </div>
          </header>
