<head>
  <title> <%= "#{yield :title}" || "Fire Tracker" %> </title>

  <!-- For Responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- FontAwesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://openlayers.org/api/OpenLayers.js"></script>
  <script type="text/javascript" src="https://raw.githubusercontent.com/pa7/heatmap.js/v1.0/src/heatmap.js"></script>
  <script type="text/javascript" src="https://raw.githubusercontent.com/pa7/heatmap.js/v1.0/src/heatmap-openlayers.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- CSRF Tags-->
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" type="image/png" href="http://www.patrick-wied.at/img/favicon.png" />
  <style>
    .btnTog {
    position:absolute;
    margin-bottom:0px;
    padding:10px 20px 10px 20px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    margin-right:0%;
    margin-left:0%; 
    border:2px solid black;
    cursor:pointer;
    color:grey;
    z-index:1999;
    }
  </style>
</head>
